//colors
$color-primary:#2B5EED;
$color-buttons:#CEBE37;
$color-white-background:#F6F6F6;
$color-light:#CBCBCB;
$color-light-plus:#999999;
$color-black:#242424;
$color-footer-title:#ACACAC;
//fonts
$font-open-sans:'Open Sans', sans-serif;
$font-montserrat:'Montserrat', sans-serif;
$font-inter:'Inter', sans-serif;
