@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;800&display=swap');
/*fonts
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
:root {
    --go-accent:#2B5EED;
    --go-buttons:#CEBE37;
    --go-background:#F6F6F6;
    --go-light:#CBCBCB;
    --go-light-plus:#999999;
    --go-black:#242424;
    --Montserrat:'Montserrat', sans-serif;
    --Inter:'Inter', sans-serif;
    --Open-sans:'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.header {
    max-height: 116px;
    display:flex;
    width: 100%;
    max-width: 1195px;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    
}

.name {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 96px;
    line-height: 131px;
    color:var(--go-light-plus);
}
.paleta-row {
    display:flex;
}
.paleta-cell:nth-child(1){
    background:var(--go-accent);
}
.paleta-cell:nth-child(2){
    background:var(--go-buttons);
}
.paleta-cell:nth-child(3){
    background:var(--go-background);
}
.paleta-cell:nth-child(4){
    background:var(--go-light);
}
.paleta-cell:nth-child(5){
    background:var(--go-light-plus);
}
.paleta-cell:nth-child(6){
    background:var(--go-black);
}
.paleta-cell {
    width: 120px;
    height: 120px;
    margin-right:20px;
}
.highlighted {
    color:var(--go-accent);
    font-family:var(--Montserrat);
    font-size: 64px;
}
.ordinary {
    font-family: var(--Open-sans);
    font-size: 64px;
}
.menu-font {
    font-family: var(--Inter);
    font-size: 64px;
}


/*menu*/
.dws-menu {
 font-family: var(--Inter);
}
.dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
   }
   .dws-menu > ul li:first-child{
   }
   .dws-menu > ul li:last-child{
    
   }

   .dws-menu > ul li a{
    display: block;
    
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    
    transition: all 0.3s ease;
   }
   .dws-menu li a:hover{
    
    color: var(--go-accent);
    transition: all 0.3s ease;
   }
   .dws-menu li a:hover .icon{
    transform: rotate(180deg);
   }
   .icon {
       margin:0 0 3px 5px;
   }
   /*sub menu*/
   .dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    background:#fff;
   }
   .dws-menu li > ul li{
    
   }
   .dws-menu li > ul li:hover {
       background:var(--go-background);
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    
   }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }
   .dws-menu li:hover .icon{
    transform: rotate(180deg);
   }

   .dws-menu > ul li .btn--gold {
    padding:9px 14px;
    background-color: var(--go-buttons);
    color:#fff;
    border-radius:25px;
    font-size:15px;
    margin-left:5px;
   }
    .dws-menu > ul li .btn--gold:hover {
        
    box-shadow: 0px 9px 31px rgba(215, 215, 215, 0.58);
    background-color: #fff;
    color: var(--go-buttons);
}


/*main*/
.main {
    background:url(/media/Main-background.svg);
    background-position: right;
    background-size: cover;
    height:800px;
}
.main .wrapper {
    max-width:1200px;
    margin:0 auto;
}
h1 {
    font-family: var(--Montserrat);
max-width: 704px;
font-weight: 700;
font-size: 64px;
line-height: 78px;
color:var(--go-accent);
padding-top:256px;
}
.description {
    font-family: 'Montserrat';
max-width:621px;
font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-top:12px;
}

/*Laptom*/
@media (max-width: 1200px) {
    h1 {
        padding-top:100px;
        line-height:69px;
        font-size:48px;
    }
    /*UI*/
    .dws-menu > ul li a {
        padding:15px 7px 7px;
    }
    header {
        padding:15px;
    }
    .main {
        background-position: center;
    }
    .main .wrapper {
        margin: 0 auto;
        padding: 0 40px;
    }
}
/*мобилка*/
@media (max-width: 845px) {
    .header {
        display:block;
        max-height:unset;
    }
    .header-logo {
        text-align:center;
    }
}
@media (max-width: 620px) {
 .header-logo img{
     width:140px;
 }
 .header {
     display:block;
     max-height:100%;
 }
 .dws-menu li > ul li {
     left:20%;
 }
 .dws-menu > ul {
     display:block;
 }

 .header-logo {
     text-align:center;
 }
 .dws-menu > ul li {
     max-width:40%;
 }
 .dws-menu li ul {
     left:40%;
     top:0;
 }
 h1 {
     padding:20px 0;
     font-size:28px;
     line-height:40px;
     text-align:center;
 }
 .dws-menu > ul li .btn--gold {
     margin-top:15px;
 }
  .description {
     font-size:18px;
 }
}